{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "reporter": [
    "text",
    "lcov"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "src/**/*.spec.ts",
    "src/handlers/*.ts",
    "src/routers/*.ts"
  ]
}